body {
    font-family: sans-serif;
    background-color: #dddddd;
}

.main {
    margin-left: auto; 
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align:center;
    width: 60%;
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: #f7f7f7;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444444;
}

li {
    float: left;
    width: 33.33%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #5e5d5d;
}

p {
    text-align: left;
    margin-left: 10%; 
    margin-right: 10%;
    margin-top: 20px;
}

img {
    max-width:95%;
}